.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;

    background-color: var(--background-dark-color);
}

.footer__contacts {
    @include font($fw: 400, $lh: 24px);
    letter-spacing: 0.03em; 
    font-style: normal;
}

.footer__link {
    transition: color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__item:not(:last-child) {
     margin-bottom: 8px;
}

.footer__link__map {
    color: var(--auxiliary-light-color);
}

.footer__link_connection {
    color: rgba(255, 255, 255, 0.6);
}

 .footer__title,
 .subscribe-form__title {
    display: inline-block;
    @include font();
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: var(--auxiliary-light-color);
 }

.footer__social-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-icon {
    fill: var(--auxiliary-light-color);
}

.footer__social-list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

@media screen and (min-width: 768px){
    .footer__left-side{
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
   .footer__left-side{
    justify-content: space-around;
   }
    
}

@media screen and (max-width: 1199px) {
    .footer {
        text-align: center;
    }

    .footer__contacts {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1200px){
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

     .footer__contacts-wrapper {
        justify-content: space-between;
        flex-grow: 1;
        margin-right: 70px;
    }
    
    .footer__social-list-wrapper {
    margin-right: 93px;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 9px;
    }
    .subscribe-form{
        display: flex;
    }
}




