.logo {
    font-family: var(--secondary-font-family);
    @include font($fs: 24px, $lh: 28px);
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.logo__dark {
    color: var(--auxiliary-dark-color);
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.logo__light {
    color: var(--auxiliary-light-color);
}

@media screen and (max-width: 767px){
    .logo__header{
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 768px){
    .logo__header{
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 88px;
    }
}

@media screen and (min-width: 1200px){
    .logo{
        @include font($fs: 26px, $lh: 31px);
    }

    .logo__header {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    }
}