.modal__btn {
    min-width: 200px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;

    font-family: inherit;
    @include font($fs: 16px, $lh: 30px);
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--auxiliary-light-color);
    background-color: var(--accent-color);

    transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--auxiliary-light-color);
        background-color: var(--background-modal--color);
    }
}

