.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: var(--auxiliary-light-color);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

   @extend %align;

    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

