:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --background-modal--color: #188CE8;
    --background-dark-color: #2F303A;
    --auxiliary-light-color: #FFFFFF;
    --auxiliary-dark-color: #000000;
    --social-icon-color: #AFB1B8;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}